body{
  background-color: #000 !important;
  color: #fff !important;
  font-family: monospace;
}
.name{
  color: lawngreen;
  text-transform: lowercase;
  display: inline;

}
.barra{
  color: dodgerblue;
  display: inline;
}
.codigo{
  text-align: left;
  display: inline;
}